/*----------------------------------------*/
/*  05. Service
/*----------------------------------------*/

.bd-service {
    border-radius: 5px;
    background: var(--clr-common-white);
    @include transition(0.3s);
    padding: 38px 35px 30px 35px;
    min-height: calc(100% - 30px);
    &:hover {
        box-shadow: 0px 20px 30px rgba(55,7,23,0.07);
        i {
            animation-name: wobble-vertical;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 3;
        }
    }
    p {
        font-size: 16px;
        line-height: 1.75;
    }
}
.bd-service-title {
    font-size: 22px;
    font-weight: 600;
    @include transition(0.3s);
    a:hover {
        color: var(--clr-theme-1);
    }
}
.bd-service-icon {
    i {
        font-size: 50px;
        line-height: 1;
        display: inline-block;
        color: var(--clr-theme-1);
    }
}

// service style four start here
.bd-service-four {
    background: var(--clr-bg-gray);
}


//service details style start here
.bd-service-details-img {
    img {
        border-radius: 10px;
    }
}
.bd-service-details {
    h4 {
        font-size: 28px;
        font-weight: 600;
        color: var(--clr-body-heading);
    }
    h5 {
        font-size: 18px;
        font-weight: 600;
        color: var(--clr-body-heading);
    }
    p {
        font-size: 16px;
        line-height: 26px;
        color: var(--clr-body-text);
    }
    &-feature {
        ul {
            li {
                display: flex;
                list-style: none;
                line-height: 1;
                font-size: 16px;
                color: var(--clr-body-heading);
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0px;
                }
                i {
                    color: var(--clr-theme-1);
                    margin-right: 8px;
                }
            }
        }
        &-img {
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    }
    .bd-service {
        border: 1px solid var(--clr-bg-gray2);
    }
    .bd-service-title {
        font-size: 22px;
        font-weight: 600;
    }
}
.bd-service-widget {
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
}
.bd-service-sidebar-category-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-body-heading);
    line-height: 1;
}
.bd-service-sidebar-category {
    ul {
        li {
            list-style: none;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0px;
            }
            a {
                height: 60px;
                line-height: 60px;
                padding: 0px 30px;
                display: block;
                font-size: 16px;
                font-weight: 600;
                color: var(--clr-body-heading);
                background: var(--clr-common-white);
                @include transition(0.3s);
                @media #{$lg,$xxs} {
                    padding: 0px 20px;
                }

                i {
                    float: right;
                    line-height: 60px;
                }
                &:hover {
                    background: var(--clr-theme-1);
                    color: var(--clr-common-white);
                }
            }
        }
    }
}
.bd-service-sidebar-support {
    &-title {
        font-size: 24px;
        color: var(--clr-common-white);
        font-weight: 600;
        line-height: 1.4;
        @media #{$lg,$xxs} {
            br {
                display: none;
            }
        }
    }
}
.bd-service-sidebar-info {
    span {
        font-size: 14px;
        display: block;
        color: var(--clr-body-text);
        margin-bottom: 5px;
    }
    h6 {
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: 500;
        color: var(--clr-body-heading);
    }
}
.bd-service-sidebar-btn {
    .theme-btn-black {
        display: block;
        text-align: center;
        i {
            margin-left: 3px;
        }
    }
}
.bd-service-details {
    .bd-section-title {
        font-size: 48px;
        line-height: 1.16;
        @media #{$md} {
            font-size: 42px;
        }
        @media #{$xs} {
            font-size: 36px;
        }
    }
}