/*----------------------------------------*/
/*  03. Slider
/*----------------------------------------*/
.bd-slider-height {
    min-height: 950px;
    @media #{$md} {
        min-height: 850px;
    }
    @media #{$xs} {
        min-height: 700px;
    }
}
.bd-single-slider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bd-single-slider-overlay,
.bd-single-slider-overlay-invisible {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.7);
        z-index: 1;
    }
}
.bd-single-slider-overlay-invisible::before {
    background: transparent;
}
.bd-slider-title {
    font-size: 110px;
    color: var(--clr-common-white);
    line-height: 1.09;
    font-weight: 700;
    @media #{$lg} {
        font-size: 90px;
    }
    @media #{$md} {
        font-size: 80px;
    }
    @media #{$sm} {
        font-size: 60px;
    }
    @media #{$xxs} {
        font-size: 48px;
    }
    span {
        color: var(--clr-theme-1);
    }
}
.bd-slider p {
    font-size: 18px;
    line-height: 1.66;
    color: var(--clr-common-white);
    @media #{$xs} {
        font-size: 16px;
        br {
            display: none;
        }
    }
}
.bd-slide-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transform: scale(1);
    @include transition(8s);
}
.swiper-slide-active  .bd-slide-bg{
	-webkit-transform: scale(1.12);
	-moz-transform: scale(1.12);
	transform: scale(1.12);
}
br {
    @media #{$xxs} {
        display: none;
    }
}

//slider style two start here
.bd-slide-shape {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}
.bd-slider-title-two {
    font-size: 90px;
    line-height: 1.11;
    font-weight: 700;
    color: var(--clr-common-white);
    @media #{$md} {
        font-size: 60px;
    }
    @media #{$md} {
        font-size: 56px;
    }
    @media #{$xs} {
        font-size: 48px;
    }
    span {
        color: var(--clr-theme-1);
    }
}
.bd-slider-subtitle-two {
    font-size: 24px;
    line-height: 1.21;
    font-weight: 700;
    color: var(--clr-common-white);
    @media #{$xs} {
        font-size: 20px;
    }
}

//slider style three start here
.bd-slider-title-three {
    color: var(--clr-body-heading);
}
.bd-slider-social-three {
    h6 {
        font-size: 14px;
        font-weight: 500;
        color: var(--clr-body-heading);
        position: relative;
        line-height: 1;
        display: inline-block;
        &:before {
            position: absolute;
            content: '';
            height: 1px;
            background: var(--clr-body-heading);
            width: 80px;
            top: 8px;
            right: -86px;
        }
    }
    ul {
        li {
            display: inline-block;
            margin-right: 25px;
            list-style: none;
            &:last-child {
                margin-right: 0px;
            }
            a {
                font-size: 16px;
                color: var(--clr-body-heading);
                &:hover {
                    color: var(--clr-theme-1);
                }
            }
        }
    }
}

// slider style four start here
.bd-slider-four {
    p {
        font-size: 18px;
        color: var(--clr-common-white);
        line-height: 1.66;
    }
}
.bd-slider-title-four {
    font-size: 90px;
    color: var(--clr-common-white);
    @media #{$md} {
        font-size: 60px;
    }
    @media #{$md} {
        font-size: 56px;
    }
    @media #{$xs} {
        font-size: 48px;
    }
}
.bd-header-signup {
    padding: 0px 30px;
    border-left: 1px solid var(--clr-bg-gray2);
    @media #{$md,$xs} {
        border-left: 0px;
        padding-left: 0px;
    }
    @media #{$xxs} {
        display: none;
    }
    a {
        font-size: 15px;
        font-weight: 500;
        color: var(--clr-body-heading);
        &:hover {
            color: var(--clr-theme-1);
        }
    }
}


// slider style five start here
.bd-slider-five-hello-text {
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    color: var(--clr-common-white) !important;
    border-radius: 5px;
    background: #FFBB01;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-right: 22px;
    &:after {
        position: absolute;
        content: '';
        height: 100%;
        width: 40%;
        left: 0px;
        top: 0px;
        background: #FF9429;
        z-index: -2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        @include transition(0.3s);
    }
    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 21px 20px 0;
        border-color: transparent #FFBB01 transparent transparent;
        bottom: -20px;
        right: 15px;
    }
}
.bd-slider-five-hello {
    span {
        font-size: 24px;
        color: var(--clr-body-heading);
        display: inline-block;
        font-weight: 500;
    }
}
.bd-slider-five {
    @media #{$xs} {
        br {
            display: none;
        }
    }
    .bd-slider-five-title {
        font-size: 120px;
        font-weight: 700;
        color: var(--clr-body-heading);
        line-height: 0.9;
        @media #{$lg} {
            font-size: 90px;
        }
        @media #{$md} {
            font-size: 80px;
        }
        @media #{$sm} {
            font-size: 60px;
        }
        @media #{$xxs} {
            font-size: 48px;
        }
    }
    .bd-slider-five-subtitle {
        font-size: 80px;
        font-weight: 700;
        color: var(--clr-body-heading);
        line-height: 1;
        @media #{$lg} {
            font-size: 70px;
        }
        @media #{$md} {
            font-size: 60px;
        }
        @media #{$sm} {
            font-size: 48px;
        }
        @media #{$xxs} {
            font-size: 36px;
        }
        span {
            color: var(--clr-theme-1);
        }
    }
    p {
        font-size: 20px;
        line-height: 1.6;
        color: var(--clr-body-text);
        b {
            font-weight: 600;
            color: var(--clr-body-heading);
        }
    }
}
.bd-slider-five-btn {
    display: inline-flex;
    margin-right: 45px;
    @media #{$xxs} {
        margin-right: 10px;
    }
    .theme-btn {
        display: inline-block;
        i {
            margin-left: 8px;
            transform: translateY(4px);
            font-size: 18px;
        }
    }
    @media #{$xxs} {
        margin-bottom: 10px;
    }
}
.bd-slider-five-video {
    display: inline-flex;
    align-items: center;
    text-align: left;
    @media #{$xxs} {
        margin-bottom: 10px;
    }
    &-icon {
        margin-right: 15px;
        a {
            height: 60px;
            width: 60px;
            color: var(--clr-theme-1);
            background: var(--clr-common-white);
            border-radius: 50%;
            display: inline-block;
            box-shadow: 0px 10px 8px rgba(3,12,29,0.05);
            line-height: 62px;
            text-align: center;
            &:hover {
                background: var(--clr-theme-1);
                color: var(--clr-common-white);
            }
        }
    }
    &-text {
        span {
            font-size: 14px;
            display: inline-block;
            margin-bottom: 0px;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 0px;
            font-weight: 500;
        }
    }
    .play_btn {
        position: relative;
    }
}
.bd-slider-five-social {
    position: absolute;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    @media #{$xxxl} {
        left: 50px;
    }
    @media #{$xxl,$xl,$lg} {
        left: 15px;
    }
    @media #{$md,$xs} {
        display: none;
    }
    span {
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        display: inline-block;
        color: var(--clr-body-heading);
        transform: rotate(-90deg);
        margin: 0px 0px 30px -14px;
    }
    ul {
        padding: 35px 0px;
        position: relative;
        &:after,
        &:before {
            position: absolute;
            content: '';
            height: 30px;
            width: 1px;
            background: var(--clr-body-heading);
            top: 0px;
            left: 7px;
        }
        &:before {
            top: auto;
            bottom: 0px;
        }
        li {
            list-style: none;
            padding: 5px 0px;
            a {
                font-size: 16px;
                color: var(--clr-body-heading);
                &:hover {
                    color: var(--clr-theme-1);
                }
            }
        }
    }
}

//slider style six start here
.bd-slider-six-title {
    font-size: 90px;
        font-weight: 700;
        color: var(--clr-body-heading);
        line-height: 1.12;
        @media #{$xl} {
           font-size: 76px;
        }
        @media #{$lg} {
            font-size: 70px;
        }
        @media #{$md} {
            font-size: 60px;
        }
        @media #{$sm} {
            font-size: 48px;
            br {
                display: none;
            }
        }
        @media #{$xxs} {
            font-size: 36px;
            br {
                display: none;
            }
        }
        span {
            color: var(--clr-theme-1);
        }
}
.bd-slider-six-img {
    position: relative;
    z-index: 1;
    @media #{$lg,$md} {
        text-align: center;
        max-width: 500px;
        margin: 100px 0px;
        margin-left: auto;
        margin-right: auto;
        img {
            margin-left: 0px;
        }
    }
    @media #{$sm} {
        text-align: center;
        margin: 100px 0px;
        margin-left: auto;
        margin-right: auto;
        img.rounded-10 {
            margin-left: 0px;
            max-width: 400px;
        }
    }
    @media #{$xxs} {
        text-align: center;
        margin: 100px 0px;
        margin-left: auto;
        margin-right: auto;
        img.rounded-10 {
            margin-left: 0px;
            max-width: calc(100% - 30px);
        }
    }
    img {
        max-width: 550px;
        margin-left: -30px;
    }
    .bd-slider-six-img-shape1,
    .bd-slider-six-img-shape2,
    .bd-slider-six-img-shape3,
    .bd-slider-six-img-shape4 {
        position: absolute;
    }
    .bd-slider-six-img-shape1 {
        bottom: 55px;
        right: -105px;
        border-radius: 18px;
        animation-duration: 2.5s;
        -webkit-animation: hero-thumb-animation2 4s linear infinite alternate;
        -moz-animation: hero-thumb-animation2 4s linear infinite alternate;
        -o-animation: hero-thumb-animation2 4s linear infinite alternate;
        animation: hero-thumb-animation2 4s linear infinite alternate;
        @media #{$xxs} {
            max-height: 170px;
            bottom: 30px;
        }
    }
    .bd-slider-six-img-shape2 {
        left: -70px;
        bottom: -40px;
        z-index: -1;
    }
    .bd-slider-six-img-shape3 {
        left: -80px;
        top: 150px;
        -webkit-animation: hero-dot-1 5s linear 0s infinite alternate;
        -moz-animation: hero-dot-1 5s linear 0s infinite alternate;
        -o-animation: hero-dot-1 5s linear 0s infinite alternate;
        animation: hero-dot-1 5s linear 0s infinite alternate;
    }
    .bd-slider-six-img-shape4 {
        right: -70px;
        top: 100px;
        -webkit-animation: hero-dot-2 5s linear 0s infinite alternate;
        -moz-animation: hero-dot-2 5s linear 0s infinite alternate;
        -o-animation: hero-dot-2 5s linear 0s infinite alternate;
        animation: hero-dot-2 5s linear 0s infinite alternate;
        @media #{$xl} {
            right: -70px;
            top: -70px;
        }
        @media #{$lg,$md,$xs} {
            right: -100px;
        }
    }
}
.bd-slider-six-img-shape5 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.bd-slider-six {
    @media #{$lg,$md,$xs} {
        text-align: center;
    }
}

//slider style seven start here
.bd-portfolio-active-seven {
    margin-left: -285px;
    margin-right: -285px;
    @media #{$xs} {
        margin: 0px;
    }
}


// animation keyframe start here
@keyframes dottedSquare {
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }